<section class="benefits">
    <div class="benefits__content">
        <div class="benefits__slider">
            <div class="benefits__slider-images">
                <div class="benefits__slider-arrows">
                    <button class="benefits__slider-arrow benefits__slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="benefits__slider-arrow benefits__slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="benefits__slider-images-card">
                                <img src="/images/benefits/1.webp" alt="" class="benefits__slider-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-images-card">
                                <img src="/images/benefits/2.webp" alt="" class="benefits__slider-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-images-card">
                                <img src="/images/benefits/3.webp" alt="" class="benefits__slider-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-images-card">
                                <img src="/images/benefits/4.webp" alt="" class="benefits__slider-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="benefits__slider-cards">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="benefits__slider-cards-group">
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            130
                                        </div>
                                        <img src="/images/benefits/cart.svg" alt="" class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        российских и международных брендов
                                    </div>
                                </div>
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            20
                                        </div>
                                        <img src="/images/benefits/dish.svg" alt="" class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        разнообразных ресторанов
                                        и кафе
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-cards-group">
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            8
                                        </div>
                                        <img src="/images/benefits/ride.svg" alt="" class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        занимательных развлечений
                                        для детей
                                    </div>
                                </div>
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            2
                                        </div>
                                        <img src="/images/benefits/child.svg" alt="" class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        раза в неделю
                                        бесплатный
                                        детский клуб
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-cards-group">
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            7
                                        </div>
                                        <img src="/images/benefits/movie.svg" alt="" class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        стильных
                                        комфортабельных
                                        кинозалов
                                    </div>
                                </div>
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            7D
                                        </div>
                                        <img src="/images/benefits/glasses.svg" alt=""
                                            class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        кинотеатр —
                                        аттрацион со спецэффектами
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-cards-group">
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            12
                                        </div>
                                        <img src="/images/benefits/makeup.svg" alt=""
                                            class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        магазинов
                                        для красоты
                                        и здоровья
                                    </div>
                                </div>
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            16
                                        </div>
                                        <img src="/images/benefits/solution.svg" alt=""
                                            class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        магазинов
                                        с товарами
                                        для творчества
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="benefits__slider-cards-pagination">

                </div>
            </div>
        </div>
        <div class="benefits__text-content">
            <div class="benefits__text-content-inner">


                <div class="benefits__text">
                    <h2>
                        Шопинг курорт Южный
                    </h2>
                    <p>
                        Мы создали пространство, где идеально сбалансирован шопинг и комфортный отдых для всей семьи.
                    </p>
                    <ul>
                        <li>
                            более 130 российских и международных брендов
                        </li>
                        <li>
                            современный кинотеатр и VR-PARK
                        </li>
                        <li>
                            детский игровой центр
                        </li>
                        <li>
                            разнообразие кафе и ресторанов
                        </li>
                    </ul>
                </div>
                <a href="#callback-modal" class="benefits__write-us">
                    Написать нам
                </a>
            </div>

        </div>
    </div>
</section>