<div class="catalog-detail">



    <div class="modal modal--catalog js-modal" id="catalog-modal">
        <div class="modal__inner">
            <button class="modal__close js-modal-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
            <div class="modal__catalog">
                <div class="modal__catalog-header">
                    <div class="modal__catalog-header-bg">
                        <picture>
                            <source srcset="/images/catalog-modals/12.webp" media="(max-width: 640px)" />
                            <img src="/images/catalog-modals/11.webp" alt="" class="modal__catalog-header-bg-image" />
                        </picture>
                    </div>
                    <div class="modal__catalog-header-row">
                        <div class="modal__catalog-header-logo-wrapper">
                            <img src="/images/catalog-modals/10.webp" alt="" class="modal__catalog-header-logo">
                        </div>
                        <ul class="modal__catalog-contacts-list">
                            <li class="modal__catalog-contacts-list-item">
                                <a href="#" class="modal__catalog-website-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#website"></use>
                                    </svg>
                                    Сайт
                                </a>
                            </li>
                            <li class="modal__catalog-contacts-list-item">
                                <a href="#" class="modal__catalog-contacts-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="modal__catalog-contacts-list-item">
                                <a href="#" class="modal__catalog-contacts-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal__catalog-content">
                    <div class="modal__catalog-row">
                        <div class="modal__catalog-left-col">
                            <h3 class="modal__catalog-title">
                                Gloria Jeans
                            </h3>
                            <div class="modal__catalog-desc">
                                Магазины для детей
                            </div>
                            <div class="modal__catalog-text">
                                <div class="modal__catalog-text-content-visible">
                                    <p>
                                        Gloria Jeans — динамично развивающийся модный бренд одежды и аксессуаров.
                                        Это «Марка № 1» в России в 2022 году в категории «сеть магазинов одежды».
                                        В Gloria Jeans вы всегда найдёте настоящий деним, высококачественные футболки,
                                        повседневные
                                    </p>
                                </div>
                                <div class="modal__catalog-text-content-hidden">
                                    <p>
                                        Gloria Jeans — динамично развивающийся модный бренд одежды и аксессуаров.
                                        Это «Марка № 1» в России в 2022 году в категории «сеть магазинов одежды».
                                        В Gloria Jeans вы всегда найдёте настоящий деним, высококачественные футболки,
                                        повседневные и вечерние платья, трикотаж, худи и свитшоты, верхнюю одежду
                                        из технологичных материалов, одежду для дома, нижнее белье.
                                    </p>
                                    <p>
                                        Сегодня у Gloria Jeans есть собственные фабрики в России и центры разработки и
                                        производства в Азиатско-Тихоокеанском регионе, a ассортимент включает все, что
                                        необходимо для повседневных и праздничных образов. Бренд ориентируется на
                                        высокий уровень качества, оставаясь доступным по цене для максимального числа
                                        покупателей.
                                    </p>
                                    <p>
                                        Gloria Jeans поддерживает инициативы на пути к устойчивому развитию.
                                        При производстве одежды используются натуральные материалы, применяется
                                        в два раза меньше воды и электроэнергии, контролируется выброс вредных веществ,
                                        покупателям предоставляются электронные чеки.
                                    </p>
                                </div>
                                <button class="modal__catalog-text-content-show-more">
                                    <span>
                                        Развернуть
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>

                                </button>

                            </div>
                        </div>
                        <div class="modal__catalog-right-col">
                            <ul class="modal__catalog-info-list">
                                <li class="modal__catalog-info-list-item">
                                    <div class="modal__catalog-info-item">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                        Ежедневно с 10:00 до 22:00
                                    </div>
                                </li>
                                <li class="modal__catalog-info-list-item">
                                    <a href="tel:+79221018891" class="modal__catalog-info-item">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#phone"></use>
                                        </svg>
                                        +7 (922)-101-88-91
                                    </a>
                                </li>
                                <li class="modal__catalog-info-list-item">
                                    <div class="modal__catalog-info-item">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#floors"></use>
                                        </svg>
                                        2 этаж
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="modal__catalog-show-on-map">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#map"></use>
                                </svg>
                                Показать на карте
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>