<section class="cinema-intro">
    <div class="cinema-intro__content">
        <div class="cinema-intro__wrapper">
            <div class="cinema-intro__bg">
                <picture>
                    <source srcset="/images/cinema-bg-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/cinema-bg.webp" alt="" class="cinema-intro__bg-image" />
                </picture>
            </div>
            <h1 class="cinema-intro__heading">
                Кинотеатр Киномакс
            </h1>
            <div class="cinema-intro__slider js-cinema-intro-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cinema-intro__slider-card">
                                <div class="cinema-intro__slider-card-row">
                                    <h3 class="cinema-intro__slider-card-title">
                                        Ежедневно
                                    </h3>
                                    <img src="/images/child-club-intro/1.svg" alt=""
                                        class="cinema-intro__slider-card-icon">
                                </div>
                                <div class="cinema-intro__slider-card-text">
                                    Разнообразные сеансы<br> с 12:00 до 00:00
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinema-intro__slider-card">
                                <div class="cinema-intro__slider-card-row">
                                    <h3 class="cinema-intro__slider-card-title">
                                        2 этаж
                                    </h3>
                                    <img src="/images/child-club-intro/2.svg" alt=""
                                        class="cinema-intro__slider-card-icon">
                                </div>
                                <div class="cinema-intro__slider-card-text">
                                    Шопинг-курорта (рядом с фуд-кортом)
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinema-intro__slider-card">
                                <div class="cinema-intro__slider-card-row">
                                    <h3 class="cinema-intro__slider-card-title">
                                        Формат
                                    </h3>
                                    <img src="/images/child-club-intro/3.svg" alt=""
                                        class="cinema-intro__slider-card-icon">
                                </div>
                                <div class="cinema-intro__slider-card-text">
                                    Кино в 2D и 3D, VIP-залы, аренда всего зала
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cinema-intro__slider-card cinema-intro__slider-card--black">
                                <div class="cinema-intro__slider-card-row">
                                    <h3 class="cinema-intro__slider-card-title">
                                        Киномакс
                                    </h3>
                                    <img src="/images/child-club-intro/4.svg" alt=""
                                        class="cinema-intro__slider-card-icon">
                                </div>
                                <div class="cinema-intro__slider-card-text">
                                    Перейти на сайт, чтобы купить билеты
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="cinema-intro__mobile-link">
            Перейти на сайт Киномакса
        </a>
    </div>
</section>



<section class="cinema-about js-cinema-about">
    <div class="cinema-about__content">
        <h2 class="cinema-about__heading">
            О кинотеатре
        </h2>
        <div class="cinema-about__wrapper">
            <div class="cinema-about__bg">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cinema-about__bg-card">
                                <picture>
                                    <source srcset="/images/cinema-about/1-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/cinema-about/1.webp" alt="" class="cinema-about__bg-card-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinema-about__bg-card">
                                <picture>
                                    <source srcset="/images/cinema-about/2-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/cinema-about/2.webp" alt="" class="cinema-about__bg-card-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinema-about__bg-card">
                                <picture>
                                    <source srcset="/images/cinema-about/3-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/cinema-about/3.webp" alt="" class="cinema-about__bg-card-image" />
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinema-about__arrows">
                <button class="cinema-about__arrow cinema-about__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="cinema-about__arrow cinema-about__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="cinema-about__text-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cinema-about__text-slider-card">
                                <h3 class="cinema-about__text-slider-card-title">
                                    Кино для всей семьи
                                </h3>
                                <div class="cinema-about__text-slider-card-content">
                                    <p>
                                        <b>
                                            Сеть кинотеатров России с популярным кинорепертуаром, максимальным
                                            комфортом, отличным сервисом.
                                        </b>
                                    </p>
                                    <p>
                                        Кинотеатр в Казани следует многолетней истории бренда Киномакс и сохраняет
                                        лучшие традиции показа кино для своих посетителей с современными требованиями к
                                        технологическому процессу.
                                    </p>
                                    <p>
                                        <b>
                                            Кинотеатр идёт в ногу с современными трендами кинопоказа.
                                        </b>
                                    </p>
                                    <p>
                                        Кинотеатр в ТРЦ «Южный» — это 7 стильных комфортабельных залов на 943 места,
                                        оснащённых акустическими системами высокого качества, которые создают уникальный
                                        эффект присутствия в фильмах и мультфильмах.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinema-about__text-slider-card">
                                <h3 class="cinema-about__text-slider-card-title">
                                    Кино для всей семьи
                                </h3>
                                <div class="cinema-about__text-slider-card-content">
                                    <p>
                                        <b>
                                            Просмотр кино в кинозалах, оснащенных новейшим оборудованием.
                                        </b>
                                    </p>
                                    <p>
                                        Мягкие кресла кинотеатра позволят поклонникам большого кино полностью
                                        расслабиться. Кинотеатр оборудован новейшей технологией RealD. RealD — система
                                        3D-проекции, основанная на высокой яркости и чёткости.
                                    </p>
                                    <p>
                                        <b>
                                            Кинотеатр предлагает своим гостям превосходное обслуживание.
                                        </b>
                                    </p>
                                    <p>
                                        В холодные вечера вы сможете согреться горячим чаем или насладиться ароматным
                                        кофе в кофейне кинотеатра. В консешн-баре представлен широкий ассортимент
                                        напитков, а также знаменитый карамелизированный попкорн.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinema-about__text-slider-card">
                                <h3 class="cinema-about__text-slider-card-title">
                                    Кино для всей семьи
                                </h3>
                                <div class="cinema-about__text-slider-card-content">
                                    <p>
                                        <b>
                                            Просмотр кино с эффектом полного погружения в кинореальность.
                                        </b>
                                    </p>
                                    <p>
                                        Здесь эксклюзивно представлена технология подвижных кресел D-BOX. Кресла
                                        двигаются синхронно сюжету фильма, они реагируют на происходящее в фильме:
                                        вибрациями, поворотами, движением. Происходит полное погружение в
                                        кинореальность.
                                    </p>
                                    <p>
                                        <b>
                                            Система скидок для детей, студентов, пенсионеров, групповые посещения и день
                                            кино.
                                        </b>
                                    </p>
                                    <p>
                                        В кинотеатре предусмотрены скидки для детей, студентов и пенсионеров, на
                                        групповые посещения, малыши до 3 лет и вовсе проходят на сеанс бесплатно. Каждые
                                        понедельник, вторник и среду проходит день кино.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="now-on-screen">
    <div class="now-on-screen__content">
        <h2 class="now-on-screen__heading">
            Сейчас в кино
        </h2>
        <div class="now-on-screen__slider js-now-on-screen-slider">
            <button class="now-on-screen__slider-arrow now-on-screen__slider-arrow--prev">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <button class="now-on-screen__slider-arrow now-on-screen__slider-arrow--next">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/1.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Проклятие дудочника
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Ужасы, 18+
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/2.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Наполеон
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Биография, драма, 18+
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/3.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Голодные игры: Баллада о певчих птицах и змеях
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Фантастика, боевик, 18+
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/4.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Белый список
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Драма, криминальный, 18+
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/1.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Проклятие дудочника
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Ужасы, 18+
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/2.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Наполеон
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Биография, драма, 18+
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/3.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Голодные игры: Баллада о певчих птицах и змеях
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Фантастика, боевик, 18+
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="now-on-screen__slider-card">
                            <div class="now-on-screen__slider-card-image-container">
                                <img src="/images/now-on-screen/4.webp" alt="" class="now-on-screen__slider-card-image">
                            </div>
                            <h3 class="now-on-screen__slider-card-title">
                                Белый список
                            </h3>
                            <div class="now-on-screen__slider-card-genre">
                                Драма, криминальный, 18+
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cinema-promo">
    <div class="cinema-promo__content">
        <h2 class="cinema-promo__heading">
            Акции и скидки
        </h2>
        <ul class="cinema-promo__list">
            <li class="cinema-promo__list-item">
                <div class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/events/21.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <a href="#" class="home-catalog__card-tag">
                                Кинотеатр
                            </a>
                        </div>
                        <h3 class="home-catalog__card-title">
                            Специальное предложение для школьных групп
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                1 января - 31 декабря
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                    <a href="/promo.html" class="home-catalog__card-link-wrapper"></a>
                </div>
            </li>
            <li class="cinema-promo__list-item">
                <div class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/events/22.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <a href="#" class="home-catalog__card-tag">
                                Кинотеатр
                            </a>
                        </div>
                        <h3 class="home-catalog__card-title">
                            Детский билет в кино со скидкой 50%
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                1 января - 31 декабря
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                    <a href="/promo.html" class="home-catalog__card-link-wrapper"></a>
                </div>
            </li>
            <li class="cinema-promo__list-item">
                <div class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/events/23.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <a href="#" class="home-catalog__card-tag">
                                Кинотеатр
                            </a>
                        </div>
                        <h3 class="home-catalog__card-title">
                            День кино: стоимость билетов 180 рублей
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                1 января - 31 декабря
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                    <a href="/promo.html" class="home-catalog__card-link-wrapper"></a>
                </div>
            </li>
        </ul>
    </div>
</section>