<section class="collab-intro">
    <div class="collab-intro__content">
        <div class="collab-intro__wrapper">
            <div class="collab-intro__bg">
                <picture>
                    <source srcset="/images/collab-intro-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/collab-intro.webp" alt="" class="collab-intro__bg-image" />
                </picture>

            </div>
            <h1 class="collab-intro__heading">
                Сотрудничество
            </h1>
            <div class="collab-intro__slider js-collab-intro-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#rent-modal" class="collab-intro__slider-card">
                                <div class="collab-intro__slider-card-top-row">
                                    <h3 class="collab-intro__slider-card-title">
                                        Аренда
                                    </h3>
                                    <img src="/images/collab-intro/1.svg" alt="" class="collab-intro__slider-card-icon">
                                </div>
                                <div class="collab-intro__slider-card-text">
                                    Оставить заявку<br> на&nbsp;аренду
                                </div>
                                <div class="collab-intro__slider-card-link">
                                    Оставить заявку
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="collab-intro__slider-card">
                                <div class="collab-intro__slider-card-top-row">
                                    <h3 class="collab-intro__slider-card-title">
                                        Реклама
                                    </h3>
                                    <img src="/images/collab-intro/2.svg" alt="" class="collab-intro__slider-card-icon">
                                </div>
                                <div class="collab-intro__slider-card-text">
                                    Разместить рекламу в&nbsp;ТРЦ
                                </div>
                                <div class="collab-intro__slider-card-link">
                                    Разместить
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="collab-intro__slider-card">
                                <div class="collab-intro__slider-card-top-row">
                                    <h3 class="collab-intro__slider-card-title">
                                        Маркетинг
                                    </h3>
                                    <img src="/images/collab-intro/3.svg" alt="" class="collab-intro__slider-card-icon">
                                </div>
                                <div class="collab-intro__slider-card-text">
                                    Связаться с отделом маркетинга
                                </div>
                                <div class="collab-intro__slider-card-link">
                                    Связаться
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#callback-modal" class="collab-intro__slider-card">
                                <div class="collab-intro__slider-card-top-row">
                                    <h3 class="collab-intro__slider-card-title">
                                        Написать нам
                                    </h3>
                                </div>
                                <div class="collab-intro__slider-card-text">
                                    Вы можете оставить обратную связь
                                </div>
                                <div class="collab-intro__slider-card-link">
                                    Связаться
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="benefits__content">
        <div class="benefits__top-row">
            <h2 class="benefits__heading">
                О шопинг-курорте
            </h2>
            <div class="benefits__links">
                <a href="#" class="benefits__link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#megaphone"></use>
                    </svg>
                    Рекламные возможности
                </a>
                <a href="#" class="benefits__link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#download"></use>
                    </svg>
                    Презентация ТРЦ «Южный»
                </a>
            </div>
        </div>
        <div class="benefits__slider">
            <div class="benefits__slider-images">
                <div class="benefits__slider-arrows">
                    <button class="benefits__slider-arrow benefits__slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="benefits__slider-arrow benefits__slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="benefits__slider-images-card">
                                <img src="/images/benefits/3.webp" alt="" class="benefits__slider-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-images-card">
                                <img src="/images/benefits/2.webp" alt="" class="benefits__slider-image">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="benefits__slider-cards">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="benefits__slider-cards-group">
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            856,7
                                        </div>
                                        <img src="/images/benefits/trend.svg" alt="" class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        средний трафик покупателей за 1 час
                                    </div>
                                </div>
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            78 000
                                        </div>
                                        <img src="/images/benefits/person.svg" alt=""
                                            class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        число посетителей в день
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="benefits__slider-cards-group">
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            1.7 млн
                                        </div>
                                        <img src="/images/benefits/person.svg" alt=""
                                            class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        средний трафик покупателей за 1 час
                                    </div>
                                </div>
                                <div class="benefits__slider-card">
                                    <div class="benefits__slider-card-top-row">
                                        <div class="benefits__slider-card-amount">
                                            84%
                                        </div>
                                        <img src="/images/benefits/cart.svg" alt="" class="benefits__slider-card-icon">
                                    </div>
                                    <div class="benefits__slider-card-text">
                                        доля
                                        совершивших
                                        покупку в ТРЦ
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="benefits__slider-cards-pagination">

                </div>
            </div>
        </div>
        <div class="benefits__text-content">
            <div class="benefits__text-content-inner">


                <div class="benefits__text">
                    <h2>
                        Станьте частью
                        успешного проекта
                    </h2>

                    <ul>
                        <li>
                            <b>
                                Сильный пул арендаторов различных категорий
                            </b>

                        </li>

                    </ul>
                    <p>
                        «Ашан», «Киномакс», «Детский мир», «Эльдорадо», «ТВОЕ», Gloria Jeans, Familia, Re, Kari Kids,
                        Sela, Savage, Rieker, Respect, Kari, Zenden, Вкусно – и точка, Burger King, KFC, «Додо пицца»,
                        Hot Pho, Бинхартс, Gagawa.
                    </p>

                    <ul>
                        <li>
                            <b>
                                Средняя частота посещаемости в месяц<br>
                                ТРЦ «Южный» - 5.4
                            </b>

                        </li>
                    </ul>
                    <p>
                        Ядро целевой аудитории составляет семейная аудитория с детьми дошкольниками и работающие
                        специалисты сегмента «средний», 47% - мужчины, 53% - женщины, средний возраст посетителя —
                        33 года.
                    </p>
                </div>
                <a href="#callback-modal" class="benefits__write-us">
                    Написать нам
                </a>

            </div>

        </div>
    </div>
</section>

<section class="awards js-awards-slider">
    <div class="awards__content">
        <div class="awards__top-row">
            <h2 class="awards__heading">
                Награды
            </h2>
            <div class="awards__arrows">
                <button class="awards__arrow awards__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="awards__arrow awards__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="awards__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-image-container">
                                <img src="/images/awards/grreat.webp" alt="" class="awards__slider-card-image">
                            </div>
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-year">
                                    2023
                                </div>
                                <h3 class="awards__slider-card-title">
                                    GRREAT
                                </h3>
                                <div class="awards__slider-card-text">
                                    Лучшая рекламная кампания торгового центра
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-image-container">
                                <img src="/images/awards/grreat.webp" alt="" class="awards__slider-card-image">
                            </div>
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-year">
                                    2022
                                </div>
                                <h3 class="awards__slider-card-title">
                                    GRREAT
                                </h3>
                                <div class="awards__slider-card-text">
                                    Лучшее управление объектом
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-image-container">
                                <img src="/images/awards/cre.webp" alt="" class="awards__slider-card-image">
                            </div>
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-year">
                                    2023
                                </div>
                                <h3 class="awards__slider-card-title">
                                    CRE
                                </h3>
                                <div class="awards__slider-card-text">
                                    Лучшее управление торговым центром
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-image-container">
                                <img src="/images/awards/grreat.webp" alt="" class="awards__slider-card-image">
                            </div>
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-year">
                                    2023
                                </div>
                                <h3 class="awards__slider-card-title">
                                    GRREAT
                                </h3>
                                <div class="awards__slider-card-text">
                                    Лучшая рекламная кампания торгового центра
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-image-container">
                                <img src="/images/awards/grreat.webp" alt="" class="awards__slider-card-image">
                            </div>
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-year">
                                    2022
                                </div>
                                <h3 class="awards__slider-card-title">
                                    GRREAT
                                </h3>
                                <div class="awards__slider-card-text">
                                    Лучшее управление объектом
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="awards__slider-card">
                            <div class="awards__slider-card-image-container">
                                <img src="/images/awards/cre.webp" alt="" class="awards__slider-card-image">
                            </div>
                            <div class="awards__slider-card-content">
                                <div class="awards__slider-card-year">
                                    2023
                                </div>
                                <h3 class="awards__slider-card-title">
                                    CRE
                                </h3>
                                <div class="awards__slider-card-text">
                                    Лучшее управление торговым центром
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="contacts">
    <div class="contacts__content">
        <h2 class="contacts__heading">
            Контакты
        </h2>
        <ul class="contacts__list">
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <div class="contacts__card-row">
                        <div class="contacts__card-photo-container">
                            <img src="/images/contacts/1.webp" alt="" class="contacts__card-photo">
                        </div>
                        <div class="contacts__card-wrapper">
                            <h3 class="contacts__card-name">
                                Наталья Сазонова
                            </h3>
                            <div class="contacts__card-role">
                                Менеджер по работе<br> с арендаторами
                            </div>
                        </div>
                    </div>
                    <div class="contacts__card-content">
                        <ul class="contacts__card-list">
                            <li class="contacts__card-list-item">
                                <a href="tel:+78432333190" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-phone"></use>
                                    </svg>
                                    +7 (843) 233-31-90
                                </a>
                            </li>
                            <li class="contacts__card-list-item">
                                <a href="mailto:Natalia.Sazonova@lynkspm.com" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-email"></use>
                                    </svg>
                                    Natalia.Sazonova@lynkspm.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <div class="contacts__card-row">
                        <div class="contacts__card-photo-container">
                            <img src="/images/contacts/2.webp" alt="" class="contacts__card-photo">
                        </div>
                        <div class="contacts__card-wrapper">
                            <h3 class="contacts__card-name">
                                Альбина Дмитриева
                            </h3>
                            <div class="contacts__card-role">
                                Руководитель<br> по коммерциализации
                            </div>
                        </div>
                    </div>
                    <div class="contacts__card-content">
                        <ul class="contacts__card-list">
                            <li class="contacts__card-list-item">
                                <a href="tel:+78432333190" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-phone"></use>
                                    </svg>
                                    +7 (843) 233-31-90
                                </a>
                            </li>
                            <li class="contacts__card-list-item">
                                <a href="mailto:Natalia.Sazonova@lynkspm.com" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-email"></use>
                                    </svg>
                                    Natalia.Sazonova@lynkspm.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="contacts__list-item">
                <div class="contacts__card">
                    <div class="contacts__card-row">
                        <div class="contacts__card-photo-container">
                            <img src="/images/contacts/3.webp" alt="" class="contacts__card-photo">
                        </div>
                        <div class="contacts__card-wrapper">
                            <h3 class="contacts__card-name">
                                Сергей Шаповалов
                            </h3>
                            <div class="contacts__card-role">
                                Брокер
                            </div>
                        </div>
                    </div>
                    <div class="contacts__card-content">
                        <ul class="contacts__card-list">
                            <li class="contacts__card-list-item">
                                <a href="tel:+74955329909" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-phone"></use>
                                    </svg>
                                    +7 (495) 532-99-09
                                </a>
                            </li>
                            <li class="contacts__card-list-item">
                                <a href="tel:+79636629545" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-phone"></use>
                                    </svg>
                                    +7 (963) 662-95-45
                                </a>
                            </li>
                            <li class="contacts__card-list-item">
                                <a href="tel:+79036703191" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-phone"></use>
                                    </svg>
                                    +7 (903) 670-31-91
                                </a>
                            </li>
                            <li class="contacts__card-list-item">
                                <a href="mailto:Sergey.Shapovalov@lynkspm.com" class="contacts__card-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#contacts-email"></use>
                                    </svg>
                                    Sergey.Shapovalov@lynkspm.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>