<div class="catalog-detail">



    <div class="modal modal--catalog js-modal" id="catalog-modal">
        <div class="modal__inner">
            <button class="modal__close js-modal-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
            <div class="modal__catalog">
                <div class="modal__catalog-header">
                    <div class="modal__catalog-header-bg">
                        <picture>
                            <source srcset="/images/catalog-modals/23.webp" media="(max-width: 640px)" />
                            <img src="/images/catalog-modals/22.webp" alt="" class="modal__catalog-header-bg-image" />
                        </picture>
                    </div>
                    <div class="modal__catalog-header-row">
                        <div class="modal__catalog-header-logo-wrapper">
                            <img src="/images/catalog-modals/21.webp" alt="" class="modal__catalog-header-logo">
                        </div>

                    </div>
                </div>
                <div class="modal__catalog-content">
                    <h3 class="modal__catalog-title">
                        В Южном открылся магазин женской одежды ELIS
                    </h3>
                    <div class="modal__catalog-row">
                        <div class="modal__catalog-left-col">


                            <div class="modal__catalog-text">
                                <div class="modal__catalog-text-content-visible">
                                    <p>
                                        В Южном открылся магазин женской одежды ELIS.
                                    </p>
                                    <p>
                                        Магазин ELIS объединяет 2 бренда: коллекции женской одежды ELI...
                                    </p>
                                </div>
                                <div class="modal__catalog-text-content-hidden">
                                    <p>
                                        В Южном открылся магазин женской одежды ELIS.
                                    </p>
                                    <p>
                                        Магазин ELIS объединяет 2 бренда: коллекции женской одежды ELIS
                                        с 42 до 50 размера и LALIS c 46 до 56 размера. Благодаря широкому ассортименту
                                        деловой, повседневной одежды и образов на выход вы сможете подобрать гардероб
                                        на все случаи жизни и выглядеть неотразимо в любое время года.
                                    </p>
                                    <p>
                                        Все коллекции — от идеи до реализации — создаются в России, на собственных
                                        фабриках ELIS FASHION RUS. Для производства бренд использует ткани и фурнитуру
                                        только высокого качества, работая с лидерами рынка лёгкой промышленности
                                        по всему миру.
                                    </p>
                                </div>
                                <button class="modal__catalog-text-content-show-more">
                                    <span>
                                        Развернуть
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>

                                </button>

                            </div>
                        </div>
                        <div class="modal__catalog-right-col">

                            <div class="modal__catalog-event-date">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                14 ноября
                            </div>
                            <a href="#" class="modal__catalog-show-on-map">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#cart"></use>
                                </svg>
                                Перейти в магазин
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>