<div class="catalog-detail">



    <div class="modal modal--catalog js-modal" id="catalog-modal">
        <div class="modal__inner">
            <button class="modal__close js-modal-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
            <div class="modal__catalog">
                <div class="modal__catalog-header">
                    <div class="modal__catalog-header-bg">
                        <picture>
                            <source srcset="/images/catalog-modals/25.webp" media="(max-width: 640px)" />
                            <img src="/images/catalog-modals/26.webp" alt="" class="modal__catalog-header-bg-image" />
                        </picture>
                    </div>

                </div>
                <div class="modal__catalog-content">
                    <h3 class="modal__catalog-title">
                        Подписывайтесь на наш телеграм-канал!
                    </h3>
                    <div class="modal__catalog-row">
                        <div class="modal__catalog-left-col">


                            <div class="modal__catalog-text">
                                <div class="modal__catalog-text-content-visible">
                                    <p>
                                        Подписывайтесь на наш телеграм-канал. У нас вы найдёте:
                                    </p>
                                    <p>
                                        Акции магазинов: будьте в курсе последних скидок, специальных п...
                                    </p>
                                </div>
                                <div class="modal__catalog-text-content-hidden">
                                    <p>
                                        Подписывайтесь на наш телеграм-канал. У нас вы найдёте:
                                    </p>
                                    <p>
                                        Акции магазинов: будьте в курсе последних скидок, специальных предложений
                                        и распродаж, чтобы сделать выгодные покупки;
                                    </p>
                                    <p>
                                        Еженедельные розыгрыши: участвуйте в наших конкурсах и получайте шанс выиграть
                                        отличные призы и подарки;
                                    </p>
                                    <p>
                                        Прямые эфиры;
                                    </p>
                                    <p>
                                        Обзоры коллекций: будьте в курсе последних трендов с нашими обзорами коллекций
                                        магазинов.
                                    </p>
                                    <p>
                                        Ссылка на канал: <a href="https://t.me/shoppingkurort"
                                            target="_blank">https://t.me/shoppingkurort</a>
                                    </p>
                                    <p>
                                        Бот поддержки: <a href="https://t.me/shoppingkurort_bot"
                                            target="_blank">https://t.me/shoppingkurort_bot</a>
                                    </p>
                                    <p>
                                        Наш стикерпак: <a href="https://t.me/addstickers/shoppingkurort_liza"
                                            target="_blank">https://t.me/addstickers/shoppingkurort_liza</a>
                                    </p>
                                </div>
                                <button class="modal__catalog-text-content-show-more">
                                    <span>
                                        Развернуть
                                    </span>
                                    <span>
                                        Свернуть
                                    </span>

                                </button>

                            </div>
                        </div>
                        <div class="modal__catalog-right-col">

                            <div class="modal__catalog-event-date">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                14 ноября
                            </div>
                            <a href="#" class="modal__catalog-show-on-map">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telega"></use>
                                </svg>
                                Перейти в телеграм-канал
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>