<header class="page-header {{#if whiteHeader}} page-header--white {{/if}}">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-inner">
                <div class="page-header__menu-header">
                    <a href="/" class="page-header__logo">
                        <img src="/images/logo.svg" alt="" class="page-header__logo-image">
                    </a>
                    <button class="page-header__menu-close">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="page-header__rows">
                    <div class="page-header__top-row">
                        <div class="page-header__info">
                            <button class="page-header__info-btn">
                                <span class="page-header__info-btn-content">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    <span class="page-header__info-btn-text">
                                        Время работы
                                    </span>
                                </span>
                                <span class="page-header__info-btn-time">сегодня с 10:00 до 22:00</span>
                            </button>
                            <div class="page-header__info-dropdown">
                                <div class="page-header__info-dropdown-inner">
                                    <ul class="page-header__info-list">
                                        <li class="page-header__info-list-item">
                                            <a href="#" class="page-header__info-item">
                                                <div class="page-header__info-item-content">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#tickets"></use>
                                                    </svg>
                                                    <div class="page-header__info-item-text">
                                                        <span class="page-header__info-item-text-inner">
                                                            Киномакс
                                                        </span>

                                                    </div>
                                                </div>
                                                <div class="page-header__info-item-time">
                                                    сегодня с 10:00 до 02:30
                                                </div>
                                            </a>
                                        </li>
                                        <li class="page-header__info-list-item">
                                            <a href="#" class="page-header__info-item">
                                                <div class="page-header__info-item-content">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#cart"></use>
                                                    </svg>
                                                    <div class="page-header__info-item-text">

                                                        <span class="page-header__info-item-text-inner">
                                                            Ашан
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="page-header__info-item-time">
                                                    сегодня с 08:30 до 22:00
                                                </div>
                                            </a>
                                        </li>
                                        <li class="page-header__info-list-item">
                                            <div class="page-header__info-item">
                                                <div class="page-header__info-item-content">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#traffic"></use>
                                                    </svg>
                                                    <div class="page-header__info-item-text">

                                                        <span class="page-header__info-item-text-inner">
                                                            Пробки
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="page-header__info-item-traffic">
                                                    <span class="page-header__info-item-traffic-status">

                                                    </span>
                                                    5 баллов
                                                </div>
                                            </div>
                                        </li>
                                        <li class="page-header__info-list-item">
                                            <a href="#" class="page-header__info-item page-header__info-item--phone">
                                                <div class="page-header__info-item-content">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#phone"></use>
                                                    </svg>
                                                    <div class="page-header__info-item-text">

                                                        <span class="page-header__info-item-text-inner">
                                                            Телефон
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="page-header__info-item-phone">
                                                    +7 843 270-31-91
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="page-header__map">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#map"></use>
                            </svg>
                            Карта ТРЦ
                        </a>
                        <a href="#" class="page-header__location">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#location"></use>
                            </svg>
                            Как добраться
                        </a>
                        <div class="page-header__search">
                            <form action="/" method="GET" class="page-header__search-inner">
                                <button class="page-header__search-btn">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </button>
                                <div class="page-header__search-input-wrapper">
                                    <input type="search" name="q" class="page-header__search-input" placeholder="Текст"
                                        required="">
                                </div>
                            </form>
                        </div>
                        <ul class="page-header__social-list">
                            <li class="page-header__social-list-item">
                                <a href="#" class="page-header__social-link page-header__social-link--telegram">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__social-list-item">
                                <a href="#" class="page-header__social-link page-header__social-link--vk">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-header__bottom-row">
                        <nav class="page-header__nav">
                            <ul class="page-header__nav-list">
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Магазины
                                    </a>
                                    <div class="page-header__nav-submenu">
                                        <div class="page-header__nav-submenu-inner">
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/1.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Женская одежда
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/2.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Мужская одежда
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/3.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Белье и купальники
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/4.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Товары для детей
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/5.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Товары для дома
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/6.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Красота и здоровье
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/7.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Обувь
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/8.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Ювелирные украшения и часы
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/9.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Аксессуары
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/10.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Спорт и отдых
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/11.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Хобби, подарки и книги
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/12.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Электроника
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/13.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Зоомагазин
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-one/14.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Гипермаркет
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Кафе и рестораны
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Услуги
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Сервисы
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Развлечения
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link page-header__nav-link--children"
                                        data-text="Детям">
                                        Детям
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Кинотеатр
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Еще
                                    </a>
                                    <div class="page-header__nav-submenu">
                                        <div class="page-header__nav-submenu-inner">
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-two/1.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Акции
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-two/2.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Детский клуб
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-two/3.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                События
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-two/4.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Сотрудничество
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        <img src="/images/submenu-two/5.svg" alt=""
                                                            class="page-header__nav-submenu-link-icon">
                                                        <span class="page-header__nav-submenu-link-text">
                                                            <span class="page-header__nav-submenu-link-text-inner">
                                                                Обратная связь
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header__search page-header__search--mobile">
            <form action="/" method="GET" class="page-header__search-inner">
                <button class="page-header__search-btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
                <div class="page-header__search-input-wrapper">
                    <input type="search" name="q" class="page-header__search-input" placeholder="Текст" required="">
                </div>
            </form>
        </div>
        <button class="page-header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>