<section class="home-catalog">
    <div class="home-catalog__content">
        <div class="home-catalog__top-row">
            <h2 class="home-catalog__heading">
                Выгодный шоппинг начинается здесь
            </h2>
            <div class="home-catalog__types">
                <a href="#" class="home-catalog__type">
                    Акции
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
                <a href="#" class="home-catalog__type">
                    События
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
        <ul class="home-catalog__list">
            <li class="home-catalog__list-item">
                <a href="#" class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/home-catalog/1.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <div class="home-catalog__card-tag">
                                Savage
                            </div>
                        </div>
                        <h3 class="home-catalog__card-title">
                            Новая коллекция со скидкой 20%
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                14-15 сентября
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="home-catalog__list-item">
                <a href="#" class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/home-catalog/2.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <div class="home-catalog__card-tag">
                                Charuel
                            </div>
                        </div>
                        <h3 class="home-catalog__card-title">
                            Оплачивайте баллами до 50% от покупки
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                7 сентября
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="home-catalog__list-item">
                <a href="#" class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/home-catalog/3.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <div class="home-catalog__card-tag">
                                Летуаль
                            </div>
                        </div>
                        <h3 class="home-catalog__card-title">
                            Кешбек 1000 рублей при покупке ароматов
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                11-26 сентября
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="home-catalog__list-item">
                <a href="#" class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/home-catalog/4.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <div class="home-catalog__card-tag">
                                Crockid
                            </div>
                        </div>
                        <h3 class="home-catalog__card-title">
                            Новая коллекция на все случаи детства
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                16 сентября
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="home-catalog__list-item">
                <a href="#" class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/home-catalog/5.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <div class="home-catalog__card-tag">
                                Incity
                            </div>
                        </div>
                        <h3 class="home-catalog__card-title">
                            INCITY X РОСКОСМОС
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                19 сентября
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="home-catalog__list-item">
                <a href="#" class="home-catalog__card">
                    <div class="home-catalog__card-image-container">
                        <img src="/images/home-catalog/6.webp" alt="" class="home-catalog__card-image" loading="lazy">
                    </div>
                    <div class="home-catalog__card-content">
                        <div class="home-catalog__card-tags">
                            <div class="home-catalog__card-tag">
                                Cozy Home
                            </div>
                        </div>
                        <h3 class="home-catalog__card-title">
                            Дарите близким уют
                        </h3>
                        <div class="home-catalog__card-bottom-row">
                            <div class="home-catalog__card-date">
                                19 сентября
                            </div>
                            <div class="home-catalog__card-promo">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#sale"></use>
                                </svg>
                                Акции
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>