<section class="intro">
    <div class="intro__content">
        <div class="intro__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro__slider-card">
                            <div class="intro__slider-card-bg">
                                <picture>
                                    <source srcset="/images/intro-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/intro.webp" alt="" class="intro__slider-card-bg-image" />
                                </picture>
                            </div>
                            <h3 class="intro__slider-card-title">
                                Новая<br>
                                осенняя<br>
                                коллекция
                            </h3>
                            <div class="intro__slider-card-text">
                                Для мужчин и женщин
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro__slider-card">
                            <div class="intro__slider-card-bg">
                                <img src="/images/intro-2.webp" alt="" class="intro__slider-card-bg-image">
                            </div>
                            <h3 class="intro__slider-card-title">
                                Lorem, ipsum dolor.
                            </h3>
                            <div class="intro__slider-card-text">
                                Для мужчин и женщин
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__slider-arrows">
                <button class="intro__slider-arrow intro__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="intro__slider-arrow intro__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="intro__slider-pagination">

            </div>
        </div>
    </div>
</section>