<section class="not-found">
    <div class="not-found__content">
        <div class="not-found__left-col">


            <div class="not-found__text">
                Ошибка<br>
                Страница не найдена
            </div>
            <a href="#" class="not-found__back-link">
                На главную
            </a>
        </div>
        <div class="not-found__right-col">
            <div class="not-found__code">
                404
            </div>
        </div>
    </div>
</section>