<div class="catalog-detail">



    <div class="modal modal--catalog js-modal" id="catalog-modal">
        <div class="modal__inner">
            <button class="modal__close js-modal-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
            <div class="modal__catalog">
                <div class="modal__catalog-header">
                    <div class="modal__catalog-header-bg">
                        <picture>
                            <source srcset="/images/catalog-modals/20.webp" media="(max-width: 640px)" />
                            <img src="/images/catalog-modals/19.webp" alt="" class="modal__catalog-header-bg-image" />
                        </picture>
                    </div>
                    <div class="modal__catalog-header-row">
                        <div class="modal__catalog-header-logo-wrapper">
                            <img src="/images/catalog-modals/18.webp" alt="" class="modal__catalog-header-logo">
                        </div>

                    </div>
                </div>
                <div class="modal__catalog-content">
                    <h3 class="modal__catalog-title">
                        Межсезонная распродажа со скидкой до&nbsp;30%
                    </h3>
                    <div class="modal__catalog-row">
                        <div class="modal__catalog-left-col">


                            <div class="modal__catalog-text">
                                <div class="modal__catalog-text-content-visible">
                                    <p>
                                        Обновите летний гардероб со скидками до — 30% в Charuel! Базовые внесезонные
                                        брючные костюмы, блузки, рубашки, деним, а также ультратрендовые яркие платья
                                        из льна, рами, шелка с хорошей скидкой. В коллекции магазина можно составить
                                        максимально практичные повседневные образы по самым выгодным ценам. Вещи бренда
                                        не выходят из моды и служат не один год. Charuel — неповторимый стиль в каждый
                                        детали.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="modal__catalog-right-col">

                            <div class="modal__catalog-event-date">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                14 ноября - 28 ноября
                            </div>
                            <a href="#" class="modal__catalog-show-on-map">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#cart"></use>
                                </svg>
                                Перейти в магазин
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>