<section class="rules">
    <div class="rules__content">
        <h1 class="rules__heading">
            Правила ТРЦ
        </h1>
        <ul class="rules__list">
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/1.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила посещения ТРЦ
                    </h2>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/2.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила подземной парковки
                    </h2>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/2.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила наземной парковки
                    </h2>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/3.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила детской площадки
                    </h2>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/4.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила гардероба
                    </h2>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/5.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила паркинга тележек
                    </h2>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/6.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила детского клуба «Солнышко»
                    </h2>
                </a>
            </li>
            <li class="rules__list-item">
                <a href="#rules-modal" class="rules__card">
                    <img src="/images/rules/7.svg" alt="" class="rules__card-icon">
                    <h2 class="rules__card-title">
                        Правила проката колясок
                    </h2>
                </a>
            </li>
        </ul>
    </div>
</section>