<div class="catalog-detail">



    <div class="modal modal--catalog js-modal" id="catalog-modal">
        <div class="modal__inner">
            <button class="modal__close js-modal-close" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </button>
            <div class="modal__catalog">
                <div class="modal__catalog-header">
                    <div class="modal__catalog-header-bg">
                        <picture>
                            <source srcset="/images/catalog-modals/17.webp" media="(max-width: 640px)" />
                            <img src="/images/catalog-modals/16.webp" alt="" class="modal__catalog-header-bg-image" />
                        </picture>
                    </div>

                </div>
                <div class="modal__catalog-content">
                    <div class="modal__catalog-row">
                        <div class="modal__catalog-left-col">
                            <h3 class="modal__catalog-title">
                                Гардероб
                            </h3>

                            <div class="modal__catalog-text">
                                <div class="modal__catalog-text-content-visible">
                                    <p>
                                        В гардероб можно сдать только верхнюю одежду. Пакеты, сумки и прочее придётся
                                        взять с собой. Если вы не успели забрать вещи до закрытия гардероба, обратитесь
                                        к сотруднику охраны. Пожалуйста, возьмите с собой всё ценное из ваших карманов.
                                        Мы не отвечаем за ценные вещи, оставленные в гардеробе. В гардеробе работает
                                        видеонаблюдение.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="modal__catalog-right-col">
                            <ul class="modal__catalog-info-list">
                                <li class="modal__catalog-info-list-item">
                                    <div class="modal__catalog-info-item">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                        Ежедневно с 10:00 до 22:00
                                    </div>
                                </li>

                                <li class="modal__catalog-info-list-item">
                                    <div class="modal__catalog-info-item">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#floors"></use>
                                        </svg>
                                        1 этаж
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="modal__catalog-show-on-map">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#map"></use>
                                </svg>
                                Показать на карте
                            </a>
                        </div>
                    </div>
                    <div class="modal__catalog-promo-slider">
                        <div class="modal__catalog-promo-slider-row">
                            <h3 class="modal__catalog-promo-title">
                                Акции
                            </h3>
                            <div class="modal__catalog-promo-arrows">
                                <button class="modal__catalog-promo-arrow modal__catalog-promo-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="modal__catalog-promo-arrow modal__catalog-promo-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="modal__catalog-promo-slider-wrapper">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="home-catalog__card">
                                            <div class="home-catalog__card-image-container">
                                                <img src="/images/home-catalog/1.webp" alt=""
                                                    class="home-catalog__card-image" loading="lazy">
                                            </div>
                                            <div class="home-catalog__card-content">
                                                <div class="home-catalog__card-tags">
                                                    <div class="home-catalog__card-tag">
                                                        Savage
                                                    </div>
                                                </div>
                                                <h3 class="home-catalog__card-title">
                                                    Новая коллекция со скидкой 20%
                                                </h3>
                                                <div class="home-catalog__card-bottom-row">
                                                    <div class="home-catalog__card-date">
                                                        14-15 сентября
                                                    </div>
                                                    <div class="home-catalog__card-promo">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#sale"></use>
                                                        </svg>
                                                        Акции
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="home-catalog__card">
                                            <div class="home-catalog__card-image-container">
                                                <img src="/images/home-catalog/2.webp" alt=""
                                                    class="home-catalog__card-image" loading="lazy">
                                            </div>
                                            <div class="home-catalog__card-content">
                                                <div class="home-catalog__card-tags">
                                                    <div class="home-catalog__card-tag">
                                                        Charuel
                                                    </div>
                                                </div>
                                                <h3 class="home-catalog__card-title">
                                                    Оплачивайте баллами до 50% от покупки
                                                </h3>
                                                <div class="home-catalog__card-bottom-row">
                                                    <div class="home-catalog__card-date">
                                                        7 сентября
                                                    </div>
                                                    <div class="home-catalog__card-promo">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#sale"></use>
                                                        </svg>
                                                        Акции
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="home-catalog__card">
                                            <div class="home-catalog__card-image-container">
                                                <img src="/images/home-catalog/1.webp" alt=""
                                                    class="home-catalog__card-image" loading="lazy">
                                            </div>
                                            <div class="home-catalog__card-content">
                                                <div class="home-catalog__card-tags">
                                                    <div class="home-catalog__card-tag">
                                                        Savage
                                                    </div>
                                                </div>
                                                <h3 class="home-catalog__card-title">
                                                    Новая коллекция со скидкой 20%
                                                </h3>
                                                <div class="home-catalog__card-bottom-row">
                                                    <div class="home-catalog__card-date">
                                                        14-15 сентября
                                                    </div>
                                                    <div class="home-catalog__card-promo">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#sale"></use>
                                                        </svg>
                                                        Акции
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="home-catalog__card">
                                            <div class="home-catalog__card-image-container">
                                                <img src="/images/home-catalog/2.webp" alt=""
                                                    class="home-catalog__card-image" loading="lazy">
                                            </div>
                                            <div class="home-catalog__card-content">
                                                <div class="home-catalog__card-tags">
                                                    <div class="home-catalog__card-tag">
                                                        Charuel
                                                    </div>
                                                </div>
                                                <h3 class="home-catalog__card-title">
                                                    Оплачивайте баллами до 50% от покупки
                                                </h3>
                                                <div class="home-catalog__card-bottom-row">
                                                    <div class="home-catalog__card-date">
                                                        7 сентября
                                                    </div>
                                                    <div class="home-catalog__card-promo">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#sale"></use>
                                                        </svg>
                                                        Акции
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="home-catalog__card">
                                            <div class="home-catalog__card-image-container">
                                                <img src="/images/home-catalog/1.webp" alt=""
                                                    class="home-catalog__card-image" loading="lazy">
                                            </div>
                                            <div class="home-catalog__card-content">
                                                <div class="home-catalog__card-tags">
                                                    <div class="home-catalog__card-tag">
                                                        Savage
                                                    </div>
                                                </div>
                                                <h3 class="home-catalog__card-title">
                                                    Новая коллекция со скидкой 20%
                                                </h3>
                                                <div class="home-catalog__card-bottom-row">
                                                    <div class="home-catalog__card-date">
                                                        14-15 сентября
                                                    </div>
                                                    <div class="home-catalog__card-promo">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#sale"></use>
                                                        </svg>
                                                        Акции
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="home-catalog__card">
                                            <div class="home-catalog__card-image-container">
                                                <img src="/images/home-catalog/2.webp" alt=""
                                                    class="home-catalog__card-image" loading="lazy">
                                            </div>
                                            <div class="home-catalog__card-content">
                                                <div class="home-catalog__card-tags">
                                                    <div class="home-catalog__card-tag">
                                                        Charuel
                                                    </div>
                                                </div>
                                                <h3 class="home-catalog__card-title">
                                                    Оплачивайте баллами до 50% от покупки
                                                </h3>
                                                <div class="home-catalog__card-bottom-row">
                                                    <div class="home-catalog__card-date">
                                                        7 сентября
                                                    </div>
                                                    <div class="home-catalog__card-promo">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#sale"></use>
                                                        </svg>
                                                        Акции
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>